.ButtonStyle,.fontTextFooter {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif
}

.HEADING_MIDDLE,.blackAndBold,.textGreenBold,.topHeader,a.menu:hover {
    font-weight: 700
}

.BigToolTipText,.toolTipText,.toolTipText2,.topHeader {
    font-style: normal;
    TEXT-DECORATION: none
}

.box_data ul,.clearfix {
    list-style: none
}

DIV.textContainerAr {
    OVERFLOW: auto;
    HEIGHT: 160px
}

DIV.textContainerEn {
    OVERFLOW: auto;
    HEIGHT: 140px
}

DIV.tableContainer {
    OVERFLOW: auto;
    HEIGHT: 110px
}
.tableToolTipContainer {
    height: initial !important;
    overflow: initial !important;
}

.ButtonStyle {
    font-size: 14px
}

.fontTextFooter {
    color: #fff;
    font-size: 8pt
}

.blackAndBold,.blackSmall {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #000;
    font-size: 8pt
}

.textGreenBold {
    color: #2c6947;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 15pt
}

.HEADING_MIDDLE,.toolBar {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #fff
}

.ROW_UNDERLINE {
    background-image: url(../../images/row_footer_line.gif);
    background-repeat: no-repeat;
    background-position: bottom;
    text-indent: 5pt;
    text-align: center;
    background-color: #f1f1e7;
    height: 13pt
}

.applicationList {
    width: 225px;
    border: 1px solid #000;
    background-color: #f7f7f7;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px
}

.HEADING_MIDDLE {
    font-size: 14px;
    border: 0;
    background-color: #558AB8;
    vertical-align: middle;
    height: 13pt
}

.applicationList2 {
    width: 100%!important;
    border: none #fff;
    background-color: #f7f7f7;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    height: auto;
    overflow: visible
}

.menu-style-c {
    height: auto;
    overflow: auto;
    width: 100%
}

.applicationDivList {
    overflow-x: scroll;
    overflow-y: scroll;
    direction: rtl;
    overflow: -moz-scrollbars-horizontal;
    border: 1px solid #000;
    height: 205px
}

.applicationDivList select {
    width: 100%
}

.toolBar {
    font-size: 10pt
}

.selectNumber,.topHeader,a.menu:active,a.menu:hover,a.menu:link,a.menu:visited {
    font-size: 14px;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif
}

.selectStyle {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    width: 70pt;
    text-align: center
}

.selectNumber {
    color: #000;
    text-decoration: none
}

.DivHeader {
    color: #fff;
    width: 100%;
    height: 86px;
    overflow: hidden;
    background: #00f7f7
}

a.menu:active,a.menu:link,a.menu:visited {
    color: #fff;
    text-decoration: none;
    font-weight: 700
}

a.menu:hover {
    color: #e7e7e7;
    text-decoration: none
}

.topHeader {
    color: #fff;
    background-image: url(/kku/images/topHome.jpg)
}

.BodyHeader {
    background-repeat: repeat;
    background-image: url(/kku/images/bodyHome.jpg)
}

.bootomHeader {
    background-image: url(/kku/images/bottomHome.jpg)
}

.sildeHeaderAr {
    background-image: url(/kku/images/sideBorderAr.jpg)
}

.sildeHeaderEn {
    background-image: url(/kku/images/sideBorderEn.jpg)
}

.sildeBorderAr {
    background-image: url(/kku/images/sideBordersAr.jpg)
}

.sildeBorderEn {
    background-image: url(/kku/images/sideBordersEn.jpg)
}

.sildeBorder2Ar {
    background-image: url(/kku/images/sideBorders2Ar.jpg)
}

.sildeBorder2En {
    background-image: url(/kku/images/sideBorders2En.jpg)
}

.sildeHeader2Ar {
    background-image: url(/kku/images/sideBorder2Ar.jpg)
}

.sildeHeader2En {
    background-image: url(/kku/images/sideBorder2En.jpg)
}

.sildeWHeader2Ar {
    background-image: url(/kku/images/sideWBorder2Ar.jpg)
}

.sildeWHeader2En {
    background-image: url(/kku/images/sideWBorder2En.jpg)
}

.NOTE {
    font-family: arial;
    font-size: 12px;
    color: #777
}

.HEADING,.HEADING_CENTER {
    border: 0;
    vertical-align: top;
    font-size: 14px;
    height: 13pt
}

.HEADING,.HEADING_CENTER,.HEADING_UNDERLINE,.menuStyle {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif
}

.HEADING {
    font-weight: 400;
    color: #000;
    background-color: #7DB700
}

.HEADING_CENTER {
    font-weight: 700;
    color: #fff;
    background-color: #538d00;
    text-align: center
}

.menuStyle {
    color: #323d4f;
    font-size: 10pt;
    font-weight: 700
}

.HEADING_UNDERLINE {
    font-weight: 700;
    font-size: 14px;
    border: 0;
    color: #000;
    background-color: #f1f1e7;
    vertical-align: top;
    height: 17pt
}

.HEADING_CHECK,.HEADING_PRINT {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    font-size: 14px;
    border: 0;
    color: #fff;
    background-color: #538d00;
    vertical-align: middle;
    height: 13pt
}

.ROW1,.ROW2 {
    text-align: center;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    height: 36px;
}

.SMALL_HEADING {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    font-weight: 700;
    background-color: #e7e7e7;
    color: #c60000
}

.ROWGrid {
    text-align: center
}

.ROW1 {
    color: #000!important;
    background-color: #BEDB7F;
}

.ROW2 {
    color: #000;
    background-color: #C4D79B
}

.COL1,.COL2,.COL3,.COL4,.COL5,.COL6 {
    height: 5pt
}

.COL1 {
    width: 10%;
    text-align: center
}

.COL2 {
    width: 20%;
    text-align: center
}

.COL3 {
    width: 10%;
    text-align: center
}

.COL4 {
    width: 5%;
    text-align: center
}

.COL5 {
    width: 10%;
    text-align: right
}

.COL6 {
    width: 5%;
    text-align: center
}

.COL7 {
    height: 5pt;
    width: 20%;
    text-align: right
}

.COL8,.COL9 {
    height: 5pt;
    width: 5%;
    text-align: center
}

.FOLLOW_ROW1,.FOLLOW_ROW2 {
    text-align: center;
    font-weight: 700;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #000;
    font-size: 40px;
    height: 50pt
}

.FOLLOW_ROW1 {
    background-color: #fff
}

.FOLLOW_ROW2 {
    background-color: #ddd
}

.ROW1_ {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    height: 15pt
}

.ROW2_ {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #F3F3F3;
    height: 15pt
}

.ROW_LEFT1,.ROW_WHITE {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    color: #000!important;
    background-color: #BEDB7F
}

.ROW_WHITE {
    text-align: center
}

.ROW_LEFT2 {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    color: #000;
    background-color: #C4D79B;
    height: 15pt
}

.ROW_SIDE1 {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    color: #000;
    height: 15pt;
    text-align: center
}

.ERR_MSG_SMALL {
    color: red;
    font-size: 14px;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif
}

.ERR_MSG {
    position: relative;
    color: #538d00;
    font-weight: 700;
    font-size: 14px;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    width: 100%
}

.ERR_MSG16 {
    position: relative;
    color: #538d00;
    font-weight: 700;
    font-size: 16px;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    width: 100%
}

.SUCC_MSG {
    color: green;
    font-weight: 700;
    font-size: 14px;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif
}

.PAGE_TITLE {
    color: #3f454e;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    font-size: 15px
}

.tableText {
    font-size: 8pt;
    font-weight: 700;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #000
}

.studentColor,.topColor {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 9pt
}

body {
    margin: 0
}

.topColor {
    color: #fff
}

.studentColor {
    color: #000;
    font-weight: 700
}

.academicPart {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 13pt;
    color: #000;
    font-weight: 700
}

.dear,.user {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 8pt
}

.dear {
    color: #000
}

.user {
    color: #fff
}

.user2 {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 9pt;
    color: #F96A3F;
    font-weight: 700
}

.bodyHeader,.reg {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #fff
}

.reg {
    font-size: 8pt
}

.text {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 10pt
}

.bodyHeader {
    font-size: 12pt;
    font-weight: 700
}

.instructorTableHead {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #fc5819;
    font-size: 12pt;
    font-weight: 700
}

.instructorTableHead2,.nextBack {
    font-weight: 700;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #000
}

.instructorTableHead2 {
    font-size: 10pt
}

.nextBack {
    font-size: 8pt
}

.fontText10 {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #fff;
    font-size: 13pt;
    font-weight: 700
}

a.WhiteLink:active,a.WhiteLink:hover,a.WhiteLink:link,a.WhiteLink:visited,a.text2:active,a.text2:hover,a.text2:link,a.text2:visited {
    text-decoration: none;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px
}

.ROW_BIG_1 {
    background-color: #f7f7f7
}

.ROW_BIG_2 {
    background-color: #fff
}

.CENTER_COLUMN {
    text-align: center
}

.FIXED_WIDTH_COLUMNS {
    width: 33%;
    text-align: center
}

a.WhiteLink:active,a.WhiteLink:link,a.WhiteLink:visited {
    color: #fff
}

a.WhiteLink:hover {
    color: #f7f7f7
}

a.text2:active,a.text2:link,a.text2:visited {
    color: #000
}

a.text2:hover {
    color: #71ADE5
}

a.orange:active,a.orange:hover,a.orange:link,a.orange:visited {
    font-size: 14px;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #FE551A
}

a.orange:active,a.orange:link,a.orange:visited {
    text-decoration: none
}

a.orange:hover {
    text-decoration: underline
}

.WHITE,.calendarAbsence,a.signOut:active,a.signOut:hover {
    text-decoration: none
}

a.signOut:hover {
    color: #6fa41c;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px
}

a.signOut:link,a.signOut:visited {
    color: #C6B518;
    text-decoration: none;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px
}

a.signOut:active {
    color: #3C413C;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px
}

.TABLES {
    border-color: #fff;
    border-style: none
}

.MAROON {
    font-weight: 700;
    font-size: 14px;
    color: Maroon
}

.GREEN {
    font-weight: 700;
    font-size: 14px;
    color: Green
}

.TITLE,.WHITE {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #fff
}

.BLACK {
    font-weight: 700;
    font-size: 15px
}

.WHITE {
    font-size: 9pt
}

.TITLE {
    font-size: 8pt
}

.SIGN_OUT {
    color: #DEC610;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 9pt;
    font-weight: 700
}

.SEMESTER {
    color: #666;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 10pt;
    font-weight: 700
}

.FOOTER {
    color: grey;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 9px
}

.calendarAbsence,.toolTipText {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px
}

.AbsenceToolTip {
    background-color: #eee;
    color: Maroon
}

.calendarAbsence {
    color: Silver
}

.toolTipText {
    color: #006aa5;
    font-weight: 700
}

.BigToolTipText {
    font-size: 13px;
    color: Maroon;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700
}

.toolTipText2 {
    font-size: 11px;
    color: #333;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700
}

.dayCalendar,.eventBodyCalendar,.headerCalendar,.headerCalendar2 {
    font-size: 8pt;
    font-weight: 700
}

.dayCalendar {
    color: #000;
    direction: rtl
}

.eventBodyCalendar {
    color: #000;
    direction: rtl;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif
}

.bodyCalendar2 {
    background-image: url(header.jpg)
}

.headerCalendar {
    color: #000;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    background-color: #f0f7fd
}

.headerCalendar2 {
    color: #fff;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    background-color: #385370
}

a.calendarStyle10:active,a.calendarStyle10:hover,a.calendarStyle10:link,a.calendarStyle10:visited,a.calendarStyle1:active,a.calendarStyle1:hover,a.calendarStyle1:link,a.calendarStyle1:visited,a.calendarStyle2:active,a.calendarStyle2:hover,a.calendarStyle2:link,a.calendarStyle2:visited,a.calendarStyle3:active,a.calendarStyle3:hover,a.calendarStyle3:link,a.calendarStyle3:visited,a.calendarStyle4:active,a.calendarStyle4:hover,a.calendarStyle4:link,a.calendarStyle4:visited,a.calendarStyle5:active,a.calendarStyle5:link,a.calendarStyle5:visited,a.calendarStyle6:active,a.calendarStyle6:hover,a.calendarStyle6:link,a.calendarStyle6:visited,a.calendarStyle7:active,a.calendarStyle7:hover,a.calendarStyle7:link,a.calendarStyle7:visited,a.calendarStyle8:active,a.calendarStyle8:hover,a.calendarStyle8:link,a.calendarStyle8:visited,a.calendarStyle9:active,a.calendarStyle9:hover,a.calendarStyle9:link,a.calendarStyle9:visited {
    text-decoration: none;
    font-weight: 400;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 10pt
}

.colorLine {
    background-color: #221e1f
}

.colorBorder {
    background-color: #305385
}

.colorHalfBorder {
    background-color: #C6C7C9
}

.colorBodyDetials {
    background-color: Maroon
}

a.calendarStyle1:active,a.calendarStyle1:link,a.calendarStyle1:visited {
    color: #fff
}

a.calendarStyle1:hover {
    color: #ffefd6
}

a.calendarStyle2:active,a.calendarStyle2:link,a.calendarStyle2:visited {
    color: #fff
}

a.calendarStyle2:hover {
    color: #ffefd6
}

a.calendarStyle3:active,a.calendarStyle3:link,a.calendarStyle3:visited {
    color: #fff
}

a.calendarStyle3:hover {
    color: #ffefd6
}

a.calendarStyle4:active,a.calendarStyle4:link,a.calendarStyle4:visited {
    color: #fff
}

a.calendarStyle4:hover {
    color: #ffefd6
}

a.calendarStyle5:active,a.calendarStyle5:link,a.calendarStyle5:visited {
    color: #fff
}

a.calendarStyle5:hover {
    color: #ffefd6;
    font-weight: 400;
    text-decoration: none;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 10pt
}

a.calendarStyle6:active,a.calendarStyle6:link,a.calendarStyle6:visited {
    color: #fff
}

a.calendarStyle6:hover {
    color: #ffefd6
}

a.calendarStyle7:active,a.calendarStyle7:link,a.calendarStyle7:visited {
    color: #fff
}

a.calendarStyle7:hover {
    color: #ffefd6
}

a.calendarStyle8:active,a.calendarStyle8:link,a.calendarStyle8:visited {
    color: #fff
}

a.calendarStyle8:hover {
    color: #ffefd6
}

a.calendarStyle9:active,a.calendarStyle9:link,a.calendarStyle9:visited {
    color: #fff
}

a.calendarStyle9:hover {
    color: #ffefd6
}

a.calendarStyle10:active,a.calendarStyle10:link,a.calendarStyle10:visited {
    color: #fff
}

a.calendarStyle10:hover {
    color: #ffefd6
}

.fontText,.fontTextSmall {
    font-size: 14px;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #000
}

.fontTextSmallBlue {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    color: #006aa5
}

.fontTextSmallRed {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    color: Red
}

.fontTextRegistration,.fontTextRegistrationLarge {
    font-style: normal;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    TEXT-DECORATION: none;
    font-weight: 700;
    color: #000
}

.fontTextRegistration {
    font-size: 11px
}

.fontTextRegistrationLarge {
    font-size: 14px
}

.fontTextRegistrationRed {
    font-size: 11px;
    color: Red;
    font-style: normal;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    TEXT-DECORATION: none;
    font-weight: 700
}

.fontTextUserAr,.fontTextUserEn {
    font-style: normal;
    TEXT-DECORATION: none;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    color: #4976A0
}

.fontTextUserAr {
    font-size: 10px
}

.fontTextUserEn {
    font-size: 11px
}

.fontTextMain,.fontTextOrange {
    font-size: 14px;
    color: #538d00;
    font-style: normal;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    TEXT-DECORATION: none;
    font-weight: 700
}

.fontTextTitle {
    font-size: 14px;
    color: #000;
    font-style: normal;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    TEXT-DECORATION: none;
    font-weight: 700
}

.fontTextStudent {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #7f796b
}

.fontTextSemester {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #737373
}

.fontTextWhite,.fontTextWhiteLarge {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff
}

.fontTextRed {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #538d00
}

.fontTextGreen {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: Green
}

.fontTextGreenSmall {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    color: Green
}

.fontTextBlack,.largTitle,.veryLargTitle {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    color: #000
}

.fontTextBlack {
    font-size: 14px
}

.largTitle {
    font-size: 18px
}

.veryLargTitle {
    font-size: 22px
}

.fontTextOrange2 {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #538d00
}

.fontTextGroundGreen,.fontTextGroundRed,.fontTextGroundWhite {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    font-size: 14px
}

.fontTextGroundGreen {
    color: #fff;
    background-color: #00b500
}

.fontTextGroundRed {
    color: #fff;
    background-color: Red
}

.fontTextGroundWhite {
    color: #000;
    background-color: #fff
}

.fontTextWhiteSmall {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    font-size: 9px;
    color: #fff
}

.fontTextWelcomeMsgAr,.fontTextWelcomeMsgEn {
    font-weight: 700;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #000;
    text-align: justify
}

.fontTextWelcomeMsgAr {
    font-size: 18px;
    text-justify: inter-word
}

.fontTextWelcomeMsgEn {
    font-size: 15px;
    text-justify: inter-word
}

.HEADING2 {
    background-color: #3b3e4f;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #fff;
    font-size: 12pt;
    font-weight: 700
}

.BUTTON_LINK,.INPUT_TITLE {
    font-size: 14px;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif
}

.BUTTON_LINK {
    font-weight: 700;
    text-decoration: none;
    background-color: #538d00;
    color: #fff;
    padding: 0px 10px 7px;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
     transition: background-color 0.5s ease;
}
.BUTTON_LINK:hover {

    background-color: #416f00;

}

.TITLES {
    text-align: center;
    font-weight: 700;
    color: #193E8E;
    font-size: 20px;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif
}

.INPUT_TITLE {
    font-weight: 700;
    color: #c63100
}

.MANDATORY,.PAGE_DESC {
    font-weight: 700;
    color: red;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px
}

.COUNTER_STYLE,.FORM_DATA,.FORM_DATA_NORMAL,.FORM_FIELD,.form_data_title {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    color: #000
}

.FORM_FIELD {
    font-weight: 700
}

.FORM_DATA {
    font-weight: 400;
    text-decoration: underline
}

.form_data_title {
    font-weight: 700;
    text-decoration: underline
}

.FORM_DATA_NORMAL {
    font-weight: 400
}

.COUNTER_STYLE {
    font-weight: 700
}

.ROW_HEIGHT {
    height: 30pt
}

.HEADING_TALL {
    background-color: #385270;
    height: 30px;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #fff;
    font-size: 12pt;
    font-weight: 700
}

.ERR,.PASS {
    font-size: 14px
}

.ERR {
    color: red;
    font-weight: 700
}

.PASS {
    color: green;
    font-weight: 700
}

.SubTitles,.TIMES_BIG {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    font-size: 12pt
}

.SubTitles {
    color: #d6ffff;
    background-color: #000
}

.Seperator {
    background-color: #006394
}

.IN_OUT_STYLE {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 8pt;
    border-style: dotted;
    border-color: #8e9fa6;
    border-width: 1pt
}

.fontTextLarge {
    font-size: 15px;
    color: #333;
    font-style: normal;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    TEXT-DECORATION: none;
    font-weight: 700
}

.RedHeader {
    color: #db4d53;
    font-weight: 700
}

.headerColor {
    padding: 2pt;
    font-size: 10pt;
    color: #fff;
    font-weight: 700
}

.AppMaleFont {
    color: #7d85f6;
    font-weight: 700
}

.AppMaleFontGray {
    color: Gray;
    font-weight: 700
}

.AppFemaleFont {
    color: #8f57e0;
    font-weight: 700
}

.data_in {
    width: 100%;
    height: auto;
    float: left;
    margin: 0 0 15px
}

.top_tab {
    width: 100%;
    color: #FFF;
    background-color: #538d00;
    height: 10px;
    margin-bottom: 6px;
    display: none
}

.top_tab h2 {
    margin-right: 20px;
    line-height: 2em;
    font-weight: lighter;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    float: right
}

.box_data {
    direction: rtl;
    border: 1px solid #538d00;
    padding: 15px;
    width: 740px;
    margin-top: 38px;
    float: left
}

.box_data ul {
    margin: 0;
    padding: 0;
    float: right
}

.box_data ul li {
    background: url(/kku/images/scroe.gif) center right no-repeat;
    padding: 0;
    margin: 4.5px
}

.box_data ul li a {
    margin-right: 10px;
    color: #59595b;
    display: block;
    line-height: 1.8em
}

.box_data ul li a:hover {
    color: #707683
}

.REPORT_RWO_HEIGHT {
    height: 25pt
}

div#visitor {
    text-align: center;
    font-weight: 700;
    font-family: Georgia;
    font-size: 12pt
}

.textWhiteOverGreen,.textWhiteOverRed {
    font-size: 25pt;
    font-weight: 700;
    width: 105px;
    text-align: center
}

.admissionHeading,.textWhiteOverGreen,.textWhiteOverRed {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif
}

.textWhiteOverGreen {
    color: #fff;
    background-color: green
}

.textWhiteOverRed {
    color: #fff;
    background-color: red
}

.admissionHeading,.admissionSemHeading {
    font-weight: 700;
    font-size: 25px;
    border: 0;
    color: #fff;
    background-color: #538d00;
    height: 13pt;
    text-align: center
}

.admissionSemHeading {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    width: 80px
}

.ADMISSION_ROW1,.ADMISSION_ROW2 {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    color: #000;
    text-align: center;
    font-size: 14px;
    height: 50pt;
    width: 70px
}

.ADMISSION_ROW1 {
    background-color: #fff
}

.ADMISSION_ROW2 {
    background-color: #ddd
}

.admissionTxtStyle {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none
}

.dashBlock {
    color: #000;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 15pt;
    font-weight: 700;
    background-color: #fff;
    width: 105px;
    text-align: center
}

.linkStyle {
    color: #7f796b;
    font-size: 10pt;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-weight: 700;
    line-height: 40px
}

.endStatus,.nowStatus,.sooonStatus {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    height: 15pt;
    text-align: center;
    font-weight: 700
}

.sooonStatus {
    color: #ff8400
}

.nowStatus {
    color: green
}

.endStatus {
    color: red
}

.red,.white {
    font-size: 2em
}

.red {
    color: red
}

.white {
    color: #fff
}

.redChoices {
    color: red;
    font-size: 14px
}

.table-list {
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 2px
}

.table-list th {
    background: #EDF2F6;
    border-bottom: 1px dotted #DDD;
    color: #444;
    font-size: 14px;
    font-weight: 400!important;
    height: 28px;
    line-height: 28px;
    padding-left: 5px;
    text-align: left
}

.table-list td {
    border-bottom: 1px dotted #ddd;
    font-family: helvetica-NAL,Tahoma,Geneva,sans-serif;
    font-size: 14px;
    height: 28px;
    padding: 5px;
    text-align: left
}

.table-list tr:hover {
    background: #E3F3F9
}

#lightbox {
    margin-right: 0
}

#head_topic {
    direction: rtl;
    display: inline;
    color: #FFF;
    position: relative;
    float: right
}

* {
    margin: 0;
    padding: 0
}

#mainLayoutTable,#mainlayouttable {
    margin: 0 auto
}

.black_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-color: #000;
    z-index: 1001;
    -moz-opacity: .6;
    opacity: .6;
    filter: alpha(opacity=60)
}

.changeMark_ar ul li,.changeMark_en ul,.changeMark_en ul li {
    height: 21px;
    padding-bottom: 13px;
    margin-bottom: 5px
}

.changeMark_ar ul {
    list-style-type: none;
    float: right
}

.changeMark_ar ul li {
    float: right
}

.changeMark_ar {
    width: 100%;
    float: right
}

li.li-left_ar {
    float: left!important;
    display: list-item;
    width: 73%
}

li.li-right_ar {
    float: right;
    margin-left: 2px;
    display: list-item;
    width: 25%
}

.changeMark_en ul {
    float: left;
    list-style-type: none
}

.changeMark_en ul li {
    float: left
}

.changeMark_en {
    width: 100%;
    float: left
}

li.li-left_en {
    float: right!important;
    display: list-item;
    width: 73%
}

li.li-right_en {
    float: left;
    margin-right: 2px;
    display: list-item;
    width: 25%
}

li.li-last {
    width: 100%;
    margin-top: 105px
}

.arrayChoices {
    width: 700px
}

.home_messge {
    margin-top: 8px;
    margin-bottom: 2px
}

#lightbox {
    direction: rtl;
    /* padding: 0 16px 16px 0; */
    margin: 0 auto;
    width: 100%;
    float: right
}

#lightbox_text ul {
    text-align: justify;
    list-style-type: none;
    padding: 0
}

#lightbox_text li {
    line-height: 20px;
    color: #4C4B4C;
    margin-right: 0
}

.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25.5%;
    width: 48.6%;
    border: 2px solid #7db700;
    background: #fff;
    z-index: 1002
}

#head_text h4 {
    margin: 0
}

#head_text {
    padding-top: 8px;
    line-height: 20px
}

#light_box_button {
    padding: 0 16px 16px
}

#head_text p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0
}

.expiredPass {
    float: right;
    line-height: 1.6
}

span.expiredPass a {
    padding-right: 5px;
    position: absolute;
    float: right
}

td.fontTextTitle span {
    display: none
}

.myinfo .mail-icon span {
    font-weight: 700;
    color: #333
}
.divsDataToolTip {
    transform: translate(-50%,0);
    left: 50% !important;
    width: auto !important;
}
.cat_services table.parnetService thead {
    display: none;
}

.cat_services > tbody > tr:first-child table.parnetService thead {
    display: table-header-group;
}
.choicesSelect {
    overflow: auto;
}

.dropStyle tbody tr td:last-child > div {
    height: 30px;
    width: inherit !important;
}

.dropStyle label.pui-dropdown-label.pui-inputtext.ui-corner-all {
    height: 100%;
}

.dropStyle .ui-helper-clearfix:before {
	display: none;
}
.dropStyle tr td {
    position: relative;
}
#choicesSelect1 a.redChoices {
    color: red;
}


.color0 {
    background-color: transparent !important; 
    width: 35px;
    height: 25px;
    border-radius: 10px 10px 10px 10px;
}
.color1 {
    background-color: Green !important; 
    width: 35px;
    height: 25px;
    border-radius: 10px 10px 10px 10px;
}
.color2 {
    background-color: Blue !important; 
    width: 35px;
    height: 25px;
    border-radius: 10px 10px 10px 10px;
}
.color3 {
    background-color: Orange !important; 
    width: 35px;
    height: 25px;
    border-radius: 10px 10px 10px 10px;
}
.color4 {
    background-color: Yellow !important; 
    width: 35px;
    height: 25px;
    border-radius: 10px 10px 10px 10px;
}
.color5 {
    background-color: Red !important; 
    width: 35px;
    height: 25px;
    border-radius: 10px 10px 10px 10px;
}


.btn1 {
    margin-top: 4px;
    border: 1px solid #327e04;
    font-size: 13px !important;
    height: 18px;
    line-height: .9;
    border-radius: 4px 4px 4px 4px;
    padding: 0px 10px 0px 10px;
    color: #327e04 !important;
    background-color: #FFFFFF;
    display: block;
    float: none;
    width:80px;
    font-weight: normal !important;
}
